<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Empleado</title>
</head>
<body>
<center>
    <a href="/users/logout">Logout</a>
    <h1>Bienvenido <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    
</center>
</body>
</html>