<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Aprobar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/users/dashadmin"><%= user.charAt(0).toUpperCase() + user.slice(1) %></a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" type="button" data-target="#navbarSupportedContent" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Registrar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/manejar_solis">Manejar Solicitudes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/ver_proyectos_aprobados">Ver Proyectos Aprobados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/manejar_usuarios">Ver Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/manejar_clientes">Ver Clientes</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                Equipos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/crear_equipo">Crear Equipo</a>
                <a class="dropdown-item" href="/users/ver_equipos">Ver Equipos</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </nav>
    <center>
    <h1>Forma De Aprobación</h1>

    <ul>
        <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(error=>{ %>
                <li><%= error.message %></li>
           <% }) %> <%  } %>
    </ul>

    <form action="/users/form_aprobar" method="POST">
    <div>
        <input type="text" id="pseudo_nombre" name="pseudo_nombre" placeholder="Pseudo Nombre" required/>
    </div>
        <div>
            <input type="text" id="repo" name="repo" placeholder="Repositorio Github" required/>
        </div>
        <div>
                <input type="text" id="trello" name="trello" placeholder="trello" required/>
            </div>
            
    <div>
        <input type="submit" value="Aprobar" />
    </div>
    </form>
</center>
</body>
</html>