<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        textarea {
          resize: none;
         
        }
        body { background: lightgray !important; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Crear Historias</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/users/dashboard"><%= user.charAt(0).toUpperCase() + user.slice(1) %></a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" type="button" data-target="#navbarSupportedContent" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/users/solicitud">Solicitar Proyecto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                Proyectos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/proys_sol">Projectos Solicitados</a>
                <a class="dropdown-item" href="/users/aprobados">Proyectos Aprobados</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/rechazados">Proyectos Rechazados</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </nav>
    <center>
        <div class="jumbotron">
            <h1 class="display-5">Crear Historia</h1>
            <strong class="text-success">Crea una historia de tu proyecto en la cual debes incluir un nombre para dicha historia, la funcionalidad que debemos cumplir, su prioridad</strong>
        </div>
    <ul>
    <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
    </ul>

    <ul>
        <% if(messages.error ){ %>
        <li><%= messages.error %></li>
       <% } %>
    </ul>

    <form action="/users/crear_historia" method="POST">
    <div>
            <input type="text" id="nom_his" name="nom_his" placeholder="Nombre De Historia" required/>
        </div>
        <div><label>Escoge La Prioridad De La Historia</label></div>
        <div>
            <select name="prioridad" id="prioridad">
                <option value="alta">Alta</option>
                <option value="media">Media</option>
                <option value="baja">Baja</option>
            </select>
        </div>
        <Label>Funcionalidades:</Label>
        <div>
            <textarea id="descripcion" name="descripcion" rows="5" cols="35" required></textarea>
        </div>
    <div>
        <input type="submit" value="Agregar Historia" />
    </div>
    
    </form>
</center>
</body>
</html>