<!DOCTYPE html>
<html lang="en">
<head>
  <style>
        
    body { background-image: url('https://wonderfulengineering.com/wp-content/uploads/2014/04/code-wallpaper-4.png'); background-color: rgba(255,255,255,0.8);}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Empleados_Dashboard</title>
</head>
<body>

  <% var xx = check[0].puesto_trabajo_id_puesto; %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= user.charAt(0).toUpperCase() + user.slice(1) %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/users/projects">Projects</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/users/MOD-empleados">Account <span class="sr-only">(current)</span></a>
        </li>-->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Activities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/activities">Send Activity</a>
            <a class="dropdown-item" href="/users/activityLog">Activity Log</a>
          </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="display: none;" href="/users/Functionalities" id="functionalitiestab">Functionalities</a>
        </li>
      </ul>
        <a class="nav-link" href="/users/logout">Logout</a>
    </div>
  </nav>
  <center>
    <div class="jumbotron">
      <h1 class="display-5">Welcome <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
      <strong class="text-success">Hope you're having a productive day!</strong>
  </div>
  </center>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        var get = "<%= xx %>";
        if(get == 'PT-102'){
          $("#functionalitiestab").show();
        }else{
          $("#functionalitiestab").hide();
        }
      })
    </script>
    
</body>
</html>